<main>
    <section class="form-section">
        <!-- <img src="https://i.imgur.com/5nlgGWn.jpeg" alt="" style="height: 80px; "> -->
        <img src="../../assets/pet.svg" alt="" style="height: 80px; ">
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-primary">{{ primaryBtnText }}</button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary">{{ secondaryBtnText }}</button>
        </div>
        
    </section>

    <section class="main-section">
        <h1>You Should, MoveIt</h1>
        <img src="https://i.imgur.com/5nlgGWn.jpeg" alt="" style="height: 450px;">
    </section>
</main>